<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>千葉工業大学情報工学科の研究室一覧</title>
</head>
<body>
  <h2>千葉工業大学情報工学科の研究室一覧</h2>
  <table>
    <tr><th>ID</th><th>研究室（教授）名</th><th>研究概要</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>

        <%if( row !== null ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><a href="/kenkyu/<%= number %>"><%= row.name %></a></td></tr>
        <% } %>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/kenkyu/create"><button type="button">追加</button></a>
   <a href="/"><button type="button">トップページに戻る</button></a> 
</body>
</html>