<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Webプログラミング課題一覧</title>
</head>
<body>
    <h1>25G01035開発システム一覧</h1>
    <ul>
        <li>
            <a href="/hensachi">千葉工業大学学部別偏差値システム</a>
        </li>

        <li>
            <a href="/jugyou">千葉工業大学情報工学科1年の授業一覧</a>
        </li>

        <li>
            <a href="/kenkyu">千葉工業大学情報工学科の研究室一覧</a>
        </li>
    </ul>
</body>
</html>